---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Category from '../components/Category.astro';
import { loadData } from '../dataloader';

const title = 'Arten';
const description = 'Kartierte Arten im Biotop';
const jsonFile =  `./src/data/species.json`
const csvFile = `./src/data/naturgucker.csv`

const species = await loadData(jsonFile, csvFile);
console.log(species.count);

// todo count arten
---

<html lang="de">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body>
		<Header />
        <main>
            <section>
                <h1>{title} ({species.count})</h1>
                <p>{description}</p>
            </section>
            <section aria-label="species list">
                {Object.keys(species.species).map(category => (
                    <h2>{category} ({Object.keys(species.species[category]).length})</h2>
                    <Category title={category} category={species.species[category]} />
                    ))}
            </section>
        </main>
        <Footer/>
	</body>
</html>

<style>

</style>
