---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import BlogPostPreview from "../components/BlogPostPreview.astro";
import { chunkArray, dateParser } from "../helper";
import { Picture } from "astro:assets";
import sielsdorfQGISImg from "../assets/biotop-sielsdorf-qgis.png";
import { type CollectionEntry, getCollection } from "astro:content";

let title = "Biotop Sielsdorf";
let description = "Projektseite des Biotop Hürth Sielsdorf.";

const sortedPosts = (await getCollection("blog")).sort(
    (a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);
  
const posts = chunkArray(sortedPosts, 2).slice(0, 1);
---

<html lang="de">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body class="container">
    <Header />
    <main>
      <section>
        <h1>{title}</h1>
        <p class="desc">
          {description}
          <br />
           Betreut vom <a href="https://bund-rhein-erft.de/huerth">BUND Hürth</a
          >
        </p>
        <Picture
          src={sielsdorfQGISImg}
          widths={[200, 400, 800]}
          formats={["avif", "jpeg", "png", "webp"]}
          alt="Biotop Sielsdorf QGIS"
        />
      </section>
      <section aria-label="Blog post list">
        <h3>Logbuch:</h3>
        {
          posts.map((chunk, index) => (
             <div class="grid">
              {chunk.map((post) =>  (
                <BlogPostPreview post={post}/>
              ))}
            </div>
          ))
        }
        <p>
          <small>Mehr im <a href="/logbuch">Logbuch</a></small>
        </p>
      </section>
    </main>
    <Footer />

    <style>
      p.desc {
        padding-left: 0;
      }
    </style>
  </body>
</html>
