---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import BlogPostPreview from "../components/BlogPostPreview.astro";
import { chunkArray, dateParser } from "../helper";

let title = "Biotop Sielsdorf Logbuch";
let description = "Logbuch des Biotop Hürth Sielsdorf.";

// Use Astro.glob to fetch all post with associated frontmatter
const unsortedPosts = await Astro.glob("./logbuch/*.mdx");
const sortedPosts = unsortedPosts.sort(function (a, b) {
  return (
    new Date(dateParser(b.frontmatter.publishDate)).valueOf() -
    new Date(dateParser(a.frontmatter.publishDate)).valueOf()
  );
});
const posts = chunkArray(sortedPosts, 2);
---

<html lang="de">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <Header />
    <main>
      <section>
        <h1>{title}</h1>
        <p class="desc">
          {description}
        </p>
      </section>
      <section aria-label="Blog post list">
        {
          posts.map((chunk, index) => (
            <div class="grid">
              {chunk.map(({ url, frontmatter }) => (
                <BlogPostPreview
                  title={frontmatter.title}
                  description={frontmatter.description}
                  publishDate={frontmatter.publishDate}
                  url={url}
                  image={frontmatter.heroImage ? frontmatter.heroImage.src: null}
                />
              ))}
            </div>
          ))
        }
      </section>
    </main>
    <Footer />

    <style>
      p.desc {
        padding-left: 0;
      }
    </style>
  </body>
</html>
