---
import { chunkArray } from "../helper";
import { Picture } from "@astrojs/image/components";
import { Specie } from "../types";

export interface Props {
  title: string;
  category: Object;
}

const { title, category } = Astro.props as Props;
const species = chunkArray(Object.values(category), 4);
---

<div>
  {
    species.map((chunk) => (
      <div class="grid">
        {chunk.map((specie: Specie) => (
          <article>
            <h6>{specie.trivial}</h6>
            <div class="latin">{specie.art} {specie.name}</div>
            <Picture
              src={
                specie.image ? `/assets/arten/${specie.image}` : `/social.png`
              }
              widths={[228]}
              aspectRatio={4 / 3}
              sizes="(max-width: 228px) 100vw, 228px"
              formats={["avif", "jpeg", "png", "webp"]}
              alt={specie.trivial}
            />
          </article>
        ))}
      </div>
    ))
  }
</div>

<style>
  article {
    line-height: 1rem;
    max-width: 268px;
  }
  time {
    margin: 1rem;
    color: var(--theme-text-lighter);
  }

  h2 {
    font-size: 2.25rem;
    font-weight: 700;
    color: var(--theme-text);
    --typography-spacing-vertical: 0.5rem;
    margin: 1rem;
  }
  h6 {
    margin-bottom: 0;
    font-size: 0.9rem;
  }
  .latin {
    font-size: 0.8rem;
    margin-bottom: 5px;
  }
  /* @media print {
    article {
        width: 50%;
    }
} */
</style>
