---
import { chunkArray } from "../helper";
import { Picture } from "@astrojs/image/components";
import "../types";

export interface Props {
  title: string;
  category: Object;
}

const { title, category } = Astro.props as Props;
const species = chunkArray(Object.values(category), 2);
---

<article>
  {
    species.map((chunk) => (
      <div class="grid">
        {chunk.map((specie: Specie) => (
          <article>
            {specie.trivial} ({specie.art} {specie.name}) <br />
            <Picture
              src={
                specie.image ? `/assets/arten/${specie.image}` : `/social.png`
              }
              widths={[200, 400, 500]}
              aspectRatio={4 / 3}
              sizes="(max-width: 500px) 100vw, 500px"
              formats={["avif", "jpeg", "png", "webp"]}
              alt={specie.trivial}
            />
          </article>
        ))}
      </div>
    ))
  }
</article>

<style>
  time {
    margin: 1rem;
    color: var(--theme-text-lighter);
  }

  h2 {
    font-size: 2.25rem;
    font-weight: 700;
    color: var(--theme-text);
    --typography-spacing-vertical: 0.5rem;
    margin: 1rem;
  }
</style>
