---
import { chunkArray } from "../helper";
import { Picture } from "astro:assets";
import { Specie } from "../types";

export interface Props {
  title: string;
  category: Object;
}

const { title, category } = Astro.props as Props;
const species = chunkArray(Object.values(category), 4);
const importImage = async (specie: Specie) => {
  const img = specie.image
    ? `../assets/arten/${specie.image}`
    : `../assets/social.png`;
  return await import(img);
};
---

<div>
  {
    species.map((chunk) => (
      <div class="grid">
        {chunk.map((specie: Specie) => (
          <article>
            <header>
              <h5>{specie.trivial}</h5>
              {specie.art} {specie.name}
            </header>
            <main>
              <Picture
                src={importImage(specie)}
                widths={[228]}
                sizes="(max-width: 228px) 100vw, 228px"
                formats={["avif", "jpeg", "png", "webp"]}
                alt={specie.trivial}
              />
            </main>
          </article>
        ))}
      </div>
    ))
  }
</div>

<style>
  article {
    padding: 0;
    margin-bottom: 1rem;
    max-width: 226px;
  }
  header {
    min-height: 3rem;
    padding: 1rem;
    margin-left: 0;
    margin-right: 0;
    min-height: 8.2rem;
  }
  h5 {
    font-size: 1rem;
    margin-bottom: 0;
    overflow-wrap: break-word;
  }
</style>
